pool:
  vmImage: 'ubuntu-latest'

steps:
    - task: NodeTool@0
      inputs:
          versionSpec: '16.16.0'
      displayName: 'Install Node.js'

    - task: Npm@1
      inputs:
          command: install
      displayName: 'Build'

    - script: |
          npm test
      displayName: 'Test'

    - script: |
         set -e
         cd publish
         BASE_VERSION=$(node -p "require('./package.json').version")
         echo "Base version from package.json: $BASE_VERSION"
         BUILD_ID=$BUILD_BUILDID
         echo "Build ID: $BUILD_ID"
         BUILD_VERSION="${BASE_VERSION}-${BUILD_ID}"
         echo "Setting npm version to $BUILD_VERSION"
         npm version "$BUILD_VERSION" --no-git-tag-version
      displayName: 'Set version with build ID'


    - task: Npm@1
      inputs:
          command: publish --tag latest
          workingDir: publish
          publishRegistry: useFeed
          publishFeed: '9ee3b1ba-43b7-4d43-b1b1-b0e328eb5ecd/6b2c6d4b-eda7-4403-8cbe-c1b220843328'
      displayName: 'Publish SDK'
